.forgot-password-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #2d2d2d;
  line-height: 1.6;
}

/* Header Styling */
header {
  background-color: #0073b1;
  padding: 15px 0;
  border-bottom: 3px solid #005a8d;
  box-shadow: 0 2px 10px rgba(46, 49, 235, 0.2);
  animation: fadeInDown 1s ease-in-out;
  text-align: center;
}

.text-brand {
  color: #ffcc00; /* Changed text color to a bright yellow */
  font-size: 26px;
}

/* Navigation */
nav .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s;
}

nav .nav-link:hover {
  color: #ffcc00;
  transform: scale(1.1);
}

/* Footer Styling */
footer {
  background-color: #005a8d;
  color: white;
  text-align: center;
  padding: 20px;
  animation: fadeInUp 1s ease-in-out;
}